.title {
  background-color: #d0f7fa;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  font-size: 25px;
}

/* .ant-checkbox-inner-checked,
.ant-switch-inner-checked {
  background-color: #087b2f !important;
  border-color: #087b2f !important;
} */

:where(.css-dev-only-do-not-override-1ck3jst).ant-checkbox-checked
  .ant-checkbox-inner {
  background-color: #087b2f !important;
  border-color: #087b2f !important;
}

:where(.css-dev-only-do-not-override-1ck3jst).ant-switch.ant-switch-checked {
  background-color: #087b2f !important;
}
